
@{
    ViewBag.Title = "Agregando un Cliente";
}

<h2>Agregando un Cliente</h2>

<form id="frmNuevoCliente" method="post">
    <div class="form-group">
        <label>Primer Apellido:</label>
        <input type="text" name="PrimerApellido" id="PrimerApellido" class="form-control" />
    </div>

    <div class="form-group">
        <label>Segundo Apellido:</label>
        <input type="text" name="SegundoApellido" id="SegundoApellido" class="form-control" />
    </div>

    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Cedula:</label>
        <input type="text" name="Cedula" id="Cedula" class="form-control" />
    </div>
    <div class="form-group">
        <label>Teléfono :</label>
        <input type="text" name="Telefono" id="Telefono" class="form-control" />
    </div>
    <div class="form-group">
        <label>Correo electrónico</label>
        <input type="text" name="Correo_Electronico" id="Correo_Electronico" class="form-control" />
    </div>
    <div class="form-group">
        <label>Dirección Física</label>
        <input type="text" name="Direccion_Fisica" id="Direccion_Fisica" class="form-control" />
    </div>
    <div class="form-group">
        <label>Provincia:</label>
        <select name="id_Provincia" id="id_Provincia" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Canton:</label>
        <select name="Id_Canton" id="Id_Canton" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Distrito:</label>
        <select name="Id_Distrito" id="Id_Distrito" class="form-control"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Agregar" id="btnAgregar" />
    </div>

    <a href="~/Clientes/ClientesLista">Regresar a la lista</a>
</form>
@section scripts{
    <script src="~/Scripts/Clientes/ClienteNuevo.js"></script>
    <script src="~/Scripts/Geografia/Geografia.js"></script>
}